@using Scout.Web.Models
<nav class="navbar navbar-default" role="navigation" style="width:800px">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav social-list-inline">
                @if (CurrentSession.footballer != null)
                {
                    <li class="active"><a href="@Url.Action("ShowFootballerProfile", "Home")">Profil<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-plus-square"></span></a></li>
                    <li><a href="@Url.Action("FootballerProfileInformations", "Home")">Profil Bilgileri<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-info-circle"></span></a></li>
                     <li><a href="@Url.Action("EditFootballerProfile", "Home")">Bilgileri Düzenle<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-edit"></span></a></li>
                    <li><a href="@Url.Action("Photos", "Home")">Fotoğraflar<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-file-image-o"></span></a></li>
                    <li><a href="@Url.Action("Videos", "Home")">Videolar<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-file-video-o"></span></a></li>
                    <li><a href="@Url.Action("DeleteFootballerProfile", "Home")" onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz?')">Profili Sil <span style="font-size:16px" class="pull-right hidden-xs showopacity fa fa-trash"></span></a></li>
                   

                }

            </ul>
        </div>
    </div>
</nav>
